<h2>Test</h2>

{{test.test1}}
{{test.test2}}

<p>visualLogic</p>
<p>class1:{{view.class1}},class2:{{view.class2}},class3:{{view.class3}},class4:{{view.class4}}</p> <br>
<p>path1:{{path.path1}},path2:{{path.path2}},path3:{{path.path3}},path4:{{path.path4}}</p>

<button ng-click="swap()">swap</button>
<button ng-click="check()">check</button>
<button ng-click="getRule()">getRule</button>
<button ng-click="readModel()">readModel</button>
<button ng-click="getViewLogic()">getViewLogic</button>
<button ng-click="updateModel()">updateModel</button>
