<h2>Test</h2>
<h3>snippetTest</h3>
{{test.test1}}
{{test.test2}}
<button ng-click="evalAssignmentTest()">evalAssignmentTest</button>
<button ng-click="checkIfPropertyExist()">checkIfPropertyExist</button>
<button ng-click="getRule()">getRule</button>
<br>

<h3>modelTest</h3>
<button ng-click="readModel()">readModel</button>
<br>

<h3>visualLogicTest</h3>
<p>class1:{{view.class1}},class2:{{view.class2}},class3:{{view.class3}},class4:{{view.class4}}</p> <br>
<input ng-model="path.path1"><input ng-model="path.path2"><input ng-model="path.path3"><input ng-model="path.path4">


<!--<input ng-model="path.key1">-->
<input ng-model="">
<input ng-model="">
<input ng-model="">
<input ng-model="">

<button ng-click="getViewLogic()">getViewLogic</button>
<button ng-click="updateModel()">updateModel</button>
<br>

<h3>localFbTest</h3>
<button ng-click="testFbObj()">testFbObj</button>
<br>
<p>localFb:{{localFb}}</p>
<p>model:{{path}}</p>
<button ng-click="testUpdateLocal()">testUpdateLocal</button>

<h3>localFb.load and update Test</h3>
<p>loaded value:{{path.loadtest}}</p>
<button ng-click="testLocalFbLoad()">testLocalFbLoad</button>
<button ng-click="testLocalFbUpdate()">testLocalFbUpdate</button>

